@import "tailwindcss";

@layer base {
  *, ::before, ::after {
    box-sizing: border-box;
  }
  
  html, body {
    @apply w-full h-full overflow-hidden overscroll-none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
  }
}
